#!/bin/bash

#unset -x

function lmv() {
    [ -e $1 -a -d $2 ] && mv $1 $2/ && ln -s $2/$(basename $1) $(dirname $1);
}


# Create a new directory and enter it
function md() {
	mkdir -p "$@" && cd "$@"
}


# List all files, long format, colorized, permissions in octal
function la(){
 	ls -l  "$@" | awk '
    {
      k=0;
      for (i=0;i<=8;i++)
        k+=((substr($1,i+2,1)~/[rwx]/) *2^(8-i));
      if (k)
        printf("%0o ",k);
      printf(" %9s  %3s %2s %5s  %6s  %s %s %s\n", $3, $6, $7, $8, $5, $9,$10, $11);
    }'
}

function hgm(){
  hg st -q | cut -c3- | tr '\n' ' '
}

#### Nokia

function sshi() {
  # set -x

  _iip=$1
  _blade="-/|\\"

  echo -ne

  _idle=0

  while : ; do
    while : ;  do
      echo -ne "\r[${_blade:$(expr $_idle % 4):1}] Waiting for connection (idle for $_idle seconds) ..."
      _idle=$(expr $_idle + 1)

      # We first try pinging then go on with ssh connection test if ping succeeds
      fping -c1 -t200 172.31.46."$_iip" -q &> /dev/null
      _rc=$?
      if [ $_rc -ne 0 ]; then
        # ping fails, try again ...
        sleep 1
        continue
      fi

      # Let's try connecting via ssh ...
      sshpass -p "2x2=4" ssh -p 2222 root@172.31.46."$_iip" -q -o StrictHostKeyChecking=no -o ConnectTimeout=1 -o ConnectionAttempts=1 exit > /dev/null
      _rc=$?
      
      if [ $_rc -eq 0 ]; then
        # Finnaly connected !
        break
      fi

      if [ $_rc -eq 255 ]; then
        # Connection refused error does not wait for timeout on ssh tries, so we'll add a bit of air here
        sleep 1
      fi
    done
    echo
    echo "[x] Connected !"
    sshpass -p "2x2=4" ssh -p 2222 root@172.31.46."$_iip" -o StrictHostKeyChecking=no
    [[ $? -eq 255 ]] || break
    _idle=0
  done
}

function smake() {
  _vers=$1

  if [ -z "$2" ]; then
    jmake BUILDROOT_BASE_DIR_BETA1=/repo/agarciam/buildroot-cache BR2_DL_DIR=/repo/agarciam/buildroot-cache/dl LOCAL_BUILD=1 BUILDROOT_KEEP_MULTIPLE_REVS=1 IVY=ivy -j9 VERS="$_vers" 2>&1 | tee buildlog_"$_vers".log | grep -e ">>>"
  else
    jmake $2 BUILDROOT_BASE_DIR_BETA1=/repo/agarciam/buildroot-cache BR2_DL_DIR=/repo/agarciam/buildroot-cache/dl LOCAL_BUILD=1 BUILDROOT_KEEP_MULTIPLE_REVS=1 IVY=ivy -j9 VERS="$_vers" 2>&1 | tee buildlog_"$_vers".log | grep -e ">>>"
  fi
  
  
  cat buildlog_$_vers.log | grep "\*\*\*" -A 5
  _rc=$?
  if [ $_rc -ne 0 ]; then
    echo "+++ Build complete (log available here : buildlog_$_vers.log) !" | grep "+++"
    return 0
  fi

  return 1
}

