[alias]
    root = rev-parse --show-toplevel

    lg = !"git lg1"
    lg1 = !"git lg1-specific "
    lg2 = !"git lg2-specific "
    lg3 = !"git lg3-specific "

    wip = log --oneline --abbrev-commit --graph --decorate
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    d = difftool
[user]
    name = thekyz
    email = thekyz@gmail.com
[push]
    default = simple
[diff]
    ;tool = opendiff
    tool = vimdiff
[merge]
    tool = vimdiffm
    conflictstyl = diff3
[mergetool "vimdiffm"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "opendiff"]
    cmd = /usr/bin/opendiff $LOCAL $REMOTE -ancestor $BASE -merge $MERGED
[core]
    editor = vim
[difftool]
    prompt = false
[rerere]
    enabled = true
